*{
    margin: 0;
    box-sizing: border-box;
}

#createCard{
    border: 2px solid rgb(97, 92, 92);
   height: 400px;
   width: 400px;
   margin: 20px;
   padding: 20px;
   background-color: white;
   border-radius: 8px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
#createSubmit{
    display: flex;
    justify-content: center;
    align-items: center;
}
#createSub{
    background-color: royalblue;
    color: white;
    border-radius: 10px;
    height: 30px;
    width: 100px;
    font-weight: bold;
}
#createSub:hover{
    background-color: green;
}